<form class="form-inline" role="form">
	<div class="col-md-offset-1">
		<div class="form-group">	
			<div class="col-md-4">
				<label for="producto">Producto</label>
			</div>
			<div class="col-md-7">	
				<select class="form-control" id="product">
					<option value="volante">Volante</option>
					<option value="plegable">Plegable</option>
				</select>
			</div><br>

			<div class="col-md-4">
				<label for="size">Tamaño</label>
			</div>

			<div class="col-md-7">
				<select id="size" class="form-control">
					<option value="media-carta">Media Carta</option>
					<option value="carta">Carta</option>
					<option value="doble-carta">Doble Carta</option>
					<option value="oficio">Oficio</option>
					<option value="octavo">1/8 de pliego</option>
					<option value="cuarto">1/4 de pliego</option>
				</select>
			</div><br>

			<div class="col-md-4">
				<label for="papel">Papel</label>
			</div>

			<div class="col-md-7">
				<select class="form-control" id="papel">
					<option value="bond">Bond</option>
					<option value="brillante">Esmaltado brillante</option>
					<option value="mate">Esmaltado mate</option>
				</select>
				<select class="form-control" id="gramaje">
					<option value="90gr">90 gr</option>
					<option value="115gr">115 gr</option>
					<option value="150gr">150 gr</option>
					<option value="200gr">200 gr</option>
					<option value="250gr">250 gr</option>
					<option value="300gr">300 gr</option>
				</select>
			</div><br>

			<div class="col-md-4">
				<label for="tintas">Tintas</label><br>
			</div>

			<div class="col-md-7">
				<select class="form-control" id="tiro">
					<option value="una">1</option>
					<option value="dos">2</option>
					<option value="cuatro">4</option>
				</select>
				<select class="form-control" id="Retiro">
					<option value="cero">0</option>
					<option value="uno">1</option>
					<option value="dos">2</option>
					<option value="cuatro">4</option>
				</select><br>
			</div>

			<div class="col-md-4">
				<label for="Acabados">Acabados:</label><br>
			</div>

			<div class="col-md-7">
				<input type="checkbox" name="acabados" id="plastificado">Plastificado
					<div><input type="radio" name="plastificado" id="mate">Mate
					<input type="radio" name="plastificado" id="brillante">Brillante</div>
				<input type="checkbox" name="acabados" id="troquelado">Troquelado
			</div><br>

			<label for="cantidad1">Cantidad</label>
			<select class="form-control" id="cantidad1">
				<option value="500">500</option>
				<option value="1k">1000</option>
				<option value="2k">2000</option>
				<option value="3k">3000</option>
				<option value="5k">5000</option>
				<option value="10k">10000</option>
				<option value="15k">15000</option>
				<option value="20k">20000</option>
			</select><br>
			<input type="text" id="price1" class="form-control valor" disabled><br>
			<label for="cantidad1">Cantidad</label>
			<select class="form-control" id="cantidad2">
				<option value="500">500</option>
				<option value="1k">1000</option>
				<option value="2k">2000</option>
				<option value="3k">3000</option>
				<option value="5k">5000</option>
				<option value="10k">10000</option>
				<option value="15k">15000</option>
				<option value="20k">20000</option>
			</select><br>
			<input type="text" id="price2" class="form-control valor" disabled><br>
			<label for="cantidad3">Cantidad</label>
			<select class="form-control" id="cantidad3">
				<option value="500">500</option>
				<option value="1k">1000</option>
				<option value="2k">2000</option>
				<option value="3k">3000</option>
				<option value="5k">5000</option>
				<option value="10k">10000</option>
				<option value="15k">15000</option>
				<option value="20k">20000</option>
			</select><br>
			<input type="text" id="price3" class="form-control valor" disabled value="$100.000"><!-- <br> -->
		</div>
	</div>	
</form>