<form class="form-inline" role="form">
	<div class="col-md-offset-1">
		<div class="form-group">	
			
			<div class="col-md-2">
				<label for="producto">Producto</label>
			</div>
			<div class="col-md-9">	
				<select class="form-control" id="producto">
					<option value="blank"></option>
					<option value="volante">Volante/Afiche</option>
					<option value="plegable">Plegable</option>
				</select>
			</div><br>

			<div class="col-md-2">
				<label for="size">Tamaño</label>
			</div>

			<div class="col-md-9">
				<select id="size" class="form-control">
					<option value="blank"></option>
					<option value="media-carta">Media Carta</option>
					<option value="carta">Carta</option>
					<option value="doble-carta">Doble Carta</option>
					<option value="oficio">Oficio</option>
					<option value="octavo">1/8 pliego</option>
					<option value="cuarto">1/4 pliego</option>
					<option value="medio">1/2 pliego</option>
				</select>
			</div><br>

			<div class="col-md-2">
				<label for="papel">Papel</label>
			</div>

			<div class="col-md-9">
				<select class="form-control" id="papel">
					<option value="blank"></option>
					<option value="bond">Bond</option>
					<option value="brillante">Esmaltado brillante</option>
					<option value="mate">Esmaltado mate</option>
				</select>
				<select class="form-control" id="gramaje">
					<option value="blank"></option>
					<option value="90">90 gr</option>
					<option value="115">115 gr</option>
					<option value="150">150 gr</option>
					<option value="200">200 gr</option>
					<option value="250">250 gr</option>
					<option value="300">300 gr</option>
				</select>
			</div><br>

			<div class="col-md-2">
				<label for="tintas">Tintas</label><br>
			</div>

			<div class="col-md-9">
				<select class="form-control" id="tiro">
					<option value="blank"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="4">4</option>
				</select>
				<select class="form-control" id="retiro" disabled>
					<option value="blank"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="4">4</option>
				</select><br>
			</div>

			<div class="col-md-2">
				<label for="Acabados">Acabados</label><br>
			</div>

			<div class="col-md-9">
				<input type="checkbox" name="acabados" id="plastificado">Plastificado
					<div><input type="radio" name="plastificado" id="mate" disabled>Mate
					<input type="radio" name="plastificado" id="brillante" disabled>Brillante</div>
				<!-- <input type="checkbox" name="acabados" id="troquelado">Troquelado -->
			</div><br>

			<div class="col-md-2">
				<label for="cantidad1">Cantidad</label>
			</div>

			<div class="col-md-9">
				<select class="form-control cantidad" id="cantidad1">
					<option value="blank"></option>
					<option value="500">500</option>
					<option value="1000">1000</option>
					<option value="2000">2000</option>
					<option value="3000">3000</option>
					<option value="5000">5000</option>
					<option value="10000">10000</option>
					<option value="15000">15000</option>
					<option value="20000">20000</option>
				</select><br>
				<input type="text" id="price1" class="form-control valor" disabled style="background-color: #ffffff"><br>
			</div>
		</div>
	</div>	
</form>